[Unit]
Description=Flask Web UI for Camera
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/rpi-onvif-camera/dashboard/app.py
Restart=always
User=pi
WorkingDirectory=/home/pi/rpi-onvif-camera/dashboard
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
