[Unit]
Description=ONVIF Service
After=network.target

[Service]
ExecStart=/usr/local/bin/onvif_srvd
Restart=always
User=root

[Install]
WantedBy=multi-user.target
